# es configuration files
elastic-search-docker-credentials.md
http_ca.crt

# local env files
.env
.env*.local
.env*.development
.env*.staging
.env*.production

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# OS
.DS_Store

# compiled output
/dist
/node_modules
/.dbdata

# jar
mysql-connector/src/